<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="kitchen365" translate="label" sortOrder="10">
            <label>Kitchen 365</label>
        </tab>
        <section id="loginOtpSection" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Customer Login With OTP</label>
            <tab>kitchen365</tab>
            <resource>Kitchen365_LoginWithOtp::login_with_otp_config</resource>
            <group id="loginOtpGroup" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Customer OTP Config</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable Customer Login With OTP</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="otp_expiry" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>OTP Expiry</label>
                    <validate>validate-number validate-greater-than-zero</validate>
                    <comment>Enter value in minutes.</comment>
                </field>
                <field id="otp_length" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>OTP Length</label>
                    <validate>validate-number validate-otp-length</validate>
                    <comment>Enter valid length. minimun 4 &amp; maximum 6 digits.</comment>
                </field>
                <field id="email_otp_template" translate="label" type="select" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>OTP Email Template</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
